.navbar-brand h3{
	background: #f2ff26;
		padding-bottom: 5px;

}
#head{
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	padding: 1px 5px 4px 4px;
		background: #f2ff26;

}
#logo
{
	width: 50px;
	height: 50px;
	
}
.navbar-brand >img {
   max-height: 100%;
    width: auto;
}
.page-header{
	float: left;
	width: 100%;
	background-color: #c3d7df;
}
.animate{
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;


	-moz-animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

img#arrow.animate{
	-moz-transform: translate(7cm,0);
	-webkit-transform: translate(7cm,0);
	transform: translate(7cm,0);


}
img#colarge.animate{
	-moz-transform: translate(-7cm,0);
	-webkit-transform: translate(-7cm,0);
	transform: translate(-7cm,0);
}
.list-inline{
	list-style-type: none;
	text-align: center;
}
.list-inline i{
	font-size: 30px;
	margin:20%;
	padding: 15% 5% 5% 4%;
}
#box{
	background-color: #c3d7df;
}
.read { transition: all .2s ease-in-out; }
.read:hover { transform: scale(1.1); }

.upload { transition: all .2s ease-in-out; }
.upload:hover { transform: scale(1.1); }

.Youtube { transition: all .2s ease-in-out; }
.Youtube:hover { transform: scale(1.1); }